fastapi
uvicorn
gunicorn
sqlalchemy
pydantic
alembic
python-dotenv
fastapi[all]
pymongo
psycopg2-binary
celery
redis
python-socketio
paho-mqtt
bcrypt
passlib
python-jose
scikit-learn
xgboost
pandas
numpy
mlflow
# hyperledger-fabric-sdk-py
streamlit
transformers
reportlab
openai
tensorflow==2.15.0